.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 55px;
  max-width: 880px;
  height: 120px;
}

@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 36px;
    max-width: 282px;
    height: 286px;
  }
}
