.popup-location__container {
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 195px;
  z-index: 1000;
  opacity: 1;
  margin-bottom: 195px;
}

@media screen and (max-width: 1000px) {
  .popup-location__container {
    margin-top: 122px;
    margin-bottom: 124px;
    max-width: 282px;
  }
}
