.popup__text-info {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  color: black;
  margin-bottom: 13px;
  border: none;
  padding: 0;
  height: 27px;
}
