.elements{
  display: grid;
  justify-content: center;
  grid-template-columns:282px 282px 282px;
  grid-template-rows: repeat(2, 361px);
  grid-template-areas:
  "element element element"
  "element element element";
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 940px) {
  .elements{
    grid-template-columns: 282px 282px;
    grid-template-rows: repeat(3, 361px);
    grid-template-areas:
    "element element"
    "element element"
    "element element";
    column-gap: 5px;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 550px) {
  .elements{
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
    grid-template-areas:
    "element"
    "element"
    "element"
    "element"
    "element"
    "element";
    row-gap: 20px;
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
