.popup-location__input {
  display: block;
	margin: 0;
  font-weight: normal;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  color: black;
  border: none;
  padding: 0;
  height: 27px;
  width: 358px;
}

@media screen and (max-width: 1000px) {
  .popup-location__input {
    width: 238px;
  }
}
