.element__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 246px;
  width: 100%;
  align-items: center;
  margin-left: 21px;
  margin-top: 25px;
  margin-right: 20px;
}
