.popup__info-zone {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 36px;
  margin-right: 36px;
  border: none;
  padding: 0;
  border-bottom: solid rgba(84, 84, 84, 1) 1px;
}
