.popup_edit-profile__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 64px;
  color: black;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 54px;
}

@media screen and (max-width: 1000px) {
  .popup_edit-profile__title {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 75px;
  }
}
