.popup-location__close-button-icon {
  width: 32px;
  height: 32px;
}

.popup-location__close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}


@media screen and (max-width: 1000px) {
  .popup-location__close-button-icon {
    width: 20px;
    height: 20px;
    top: 5;
    right: 0;
    margin: 0 auto;
    margin-right: 19px;
  }
}
