.avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}


@media screen and (max-width: 500px) {
  .avatar {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 26px;
  }
}
