.element__trash {
  width: 18px;
  height: 19px;
  background-image: url(../../../img/Trash.svg);
  border: none;
  position: absolute;
  transition: all 0.2s ease;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 220px;
}

.element__trash:hover {
  cursor: pointer;
  opacity: .5;

}
