.popup-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 34px;
  margin-left: 36px;
  margin-right: 64px;
  color: black;
  font-weight: 900;
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .popup-container__title {
    font-weight: 700;
    font-size: 15px;
  }
}
