.popup__text {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: normal;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  color: black;
  border: none;
  padding: 0;
  height: 27px;
  width: 358px;
  margin-top: 0;
}

@media screen and (max-width: 1000px) {
  .popup__text {
    width: 238px;
  }
}
